{% extends 'base.html' %}

{% block content %}
<!-- Hero Section - Redesigned for simplicity -->
<section class="hero-full" style="background-image: url('/static/uploads/arkaplan.jpg');">
    <div class="hero-overlay"></div>
    <div class="hero-center">
        <div class="logo-large">
        </div>
        <h1 class="hero-title-large fancy-title"><span class="fancy-kilinc">KILINÇ</span> <span class="fancy-hukuk">HUKUK</span> <span class="fancy-and">&</span> <span class="fancy-danismanlik">DANIŞMANLIK</span></h1>
        <div class="hero-subtitle-large">AV. NAİL FURKAN KILINÇ</div>
        
        <div class="inspirational-quote">
            "Hukukun izinde, adaletin peşinde."
        </div>
        

    </div>
</section>
{% endblock %}
